:root {
  --background: #D3D3D3;
  --background2: #fdfdfd;
  --background3: #2e3440;
  --link-font-color: #88c0d0;
  --link-font-color2: white;
  --link-font-color3: #5e81ac;
  --font-color: white;
  --font-color2: #2e3440;
  --button1: #357b70;
  --button2: #e0b354;
  --button-cv-hover: #BCB1FD;
  --font-button-color: #FFFFFF;
  --font-size: 16px;
  --font-weight: 400;
}

* {
  box-sizing: border-box;
}

ul {
  padding-inline-start: 0;
}

/* Header */

.page-header-index {
  width: 100%;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  color: var(--font-color);
  display: flex;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.page-header {
  width: 100%;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  color: var(--font-color);
  display: flex;
  width: 100%;
  background-color: var(--background3); 
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--link-font-color);
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--link-font-color2);
}

.page-header__item {
  flex: 0 1 20px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.logo {
  flex: 1 1 auto;
  margin: 0 10px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: auto;
  max-width: 90%;
  max-height: 100%;
}

.main-navigation-index {
  text-align: center;
  width: 80%; 
  height: auto;
  max-width: 90%;
  max-height: 100%;
}

.navigation-list__item--active {
  text-decoration: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 25px;
}

.navigation-list ul {
  margin-left: 0px;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--background2);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 1.6;
  padding-top: 120px;
  padding-bottom: 120px;
}

.body-index {
  background-image: url('../img/bg-main-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--font-color2);
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--font-color2);
}

h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--font-color2);
}

h4 {
  font-size: 15px;
  font-weight: 700;
  color: var(--font-color2);
}

a {
  color: var(--link-font-color);
}

p {
  margin-bottom: 1em;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__text {
  flex: 1 1 100px;
  text-align: center;
}

.about-me {
  margin: auto 20px;
  text-align: center;
  padding-bottom: 120px;
}

.about-me__table {
  margin: 0 auto;
}


.contact-me {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.contact-form {
  display: grid;
  position: relative;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
}

/* Hyperlink style
 */

a:visited {
  color: var(--link-font-color);
}

a:hover, a:focus {
  text-decoration: none;
}

a:active {
  color: var(--link-font-color);
}


button, .button-home-page {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--button1);
  color: var(--font-button-color) !important;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.9s;
  transition-property: opacity;
  /* it is also possible to include all the properties in the same lina, i.e. "transition: 0.2s opacity;" */
}

button:hover, button:focus, .button-home-page:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button__secondary {
  border: none;
  font-family: inherit;
  background-color: var(--button2);
  color: var(--font-button-color) !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #03474c;
  transition: 0.4s background-color, 0.4s
}

.button-about-me {
  border: none;
  font-family: inherit;
  background-color: var(--button1);
  color: var(--font-button-color) !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #03474c;
  transition: 0.4s background-color, 0.4s
}

.button-contact-me {
  border: none;
  font-family: inherit;
  background-color: var(--button1);
  color: var(--font-button-color) !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #03474c;
  transition: 0.4s background-color, 0.4s
}

.button-cv:hover {
  background-color: var(--button-cv-hover);
}

.container {
  font-family: 'Lato', sans-serif;
  font-size: var(--font-size);
  padding: 30px;
}

.work-content {
  text-align: center;
}

.work-content-item {
  text-align: center;
  padding: 5%;
}

.grid-work {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 40px;
}

.grid-work-each {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px 40px;
}

.grid-work__item {
  text-align: center;
  padding-top: 30px;
  margin: 20px;
}

.work-each-txt {
  padding:20px 10px;
  text-align: center;
}

.work-each-txt-right {
  padding:20px 10px;
  text-align: right;
}

.work-each-tag {
  font: 12px/1.5 'PT Sans', serif;
  margin: 25px;
  text-align: center;
}

.work-each-img img {
  width: 100%;
  }

  .bgMyFlixReact {
    background-image: url(../img/work/myFlixReact.png);
    background-size: cover;
  }
  
/* Footer */

.page-footer {
  clear: both;
  display: inline-block;
  text-align: center;
  font-size: var(--font-size);
  /* background-color: var(--background); */
  padding-bottom: 20px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: right; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: sticky;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson; 
}

/* shared code start */
@media all and (max-width: 1450px) {
  .grid-work {
    grid-gap: 10px;
  }
  
  .grid-work-each {
    grid-gap: 10px;
  }

  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  .project-link {
    display: inline-block;
  }
  svg {
    width: 90%;
  }
}
/* shared code end */

/* Smartphones */
@media all and (max-width: 499px) {
  .grid-work {
    grid-template-columns: 1fr;
    margin: 10px;
    padding-bottom: 120px;
  }

  .grid-work-each {
    grid-template-columns: 1fr;
    margin: 10px;
    padding-bottom: 120px;
  }

  .profile__text {
    clear: both;
  }


  .profile {
    float: none;
    padding-top: 90px;
    padding-bottom: 125px;
    text-align: center;
  }

  .profile__portrait {
    float: none;
    margin: auto;
  }

  .page-header img {
    width: 20%;
    height: auto;
    align-self: center;
  }

  .about-me {
    padding-top: 85px;
    padding-bottom: 85px;
  }

}

/* Tablets */
@media all and (min-width: 500px) and (max-width: 770px) {
  .grid-work {
    grid-template-columns: 1fr 1fr;
  }

  .grid-work-each {
    grid-template-columns: 1fr 1fr;
  }

  .profile {
    float: none;
    padding-top: 90px;
    padding-bottom: 125px;
    text-align: center;
  }

  .profile__portrait {
    float: none;
    margin: auto;
  }

  .page-header img {
    width: 20%;
    height: auto;
    align-self: center;
  }

  .contact-me {
    padding-bottom: 120px;
    float: none;
  }
}

/* Tablets PRO */
@media all and (min-width: 500px) and (max-width: 1025px) {
  .grid-work {
    grid-template-columns: 1fr 1fr;
  }

  .grid-work-each {
    grid-template-columns: 1fr 1fr;
  }

  .profile {
    float: none;
    padding-top: 90px;
    padding-bottom: 125px;
    text-align: center;
  }

  .profile__portrait {
    float: none;
    margin: auto;
  }

  .page-header img {
    width: 20%;
    height: auto;
    align-self: center;
  }
}


/* smaller Laptops */
@media all and (min-width: 768px) and (max-width: 1279px) {
  .grid-work {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* bigger Laptops */
@media all and (min-width: 1280px)  {
  .grid-work {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
